.category {
  margin-bottom: 25px;
  &__item {
    display: flex;
    justify-content: space-between;

    &__checkbox {
      display: flex;

      label {
        display: flex;
        align-items: center;
      }

      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #545454;

      input {
        display: none;

        &:checked {
          + {
            .category__item__checkbox__input {
              background-color: #E1F0FF;
              border: 1px solid #026BCB;

              &::before {
                opacity: 1;
              }

              &::after {
                opacity: 1;
              }
            }
          }
        }
      }

      p {
      }

      &__input {
        margin-right: 15px;
        width: 22px;
        height: 22px;
        border: 1px solid #d1d1d1;
        border-radius: 6px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          transform: rotate(45deg);
          top: 11px;
          left: 5px;
          width: 4px;
          height: 1px;
          background-color: #026BCB;
          opacity: 0;
        }

        &::after {
          content: "";
          position: absolute;
          transform: rotate(-45deg);
          top: 9px;
          left: 33.5%;
          width: 9px;
          height: 1px;
          background-color: #026BCB;
          opacity: 0;
        }
      }
    }

    &__count {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      margin-left: 10px;
      color: #878787;
    }

    .clicked {
      transform: rotate(180deg);
    }

    &__arrow {
      position: relative;
      padding: 5px;
      background: none;
      border: none;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        width: 6px;
        height: 1px;
        transform: rotate(45deg);
        background-color: #026BCB;
        left: 0;
      }

      &::after {
        content: "";
        position: absolute;
        width: 6px;
        height: 1px;
        left: 4px;
        transform: rotate(-45deg);
        background-color: #026BCB;
      }
    }
  }
  &__tags {
    margin-left: 37px;
    display: none;
  }
  .show{
    display: block;
  }
}
